.banner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #78f183;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe183;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
    padding-right: 2%;
}

.navbar ul li a{
    color: #30A2FF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 23px;
}

.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul{
    flex: 1;
    text-align: right;
    padding-right: 3%;
}

.iletisim-navbar{
    position: relative;
    z-index: 1;
    top: 0px;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe183;
}

.iletisim-navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
    padding-right: 2%;
}

.iletisim-navbar ul li a{
    color: #30A2FF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 23px;
}

.iletisim-navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.iletisim-navbar ul li:hover::after{
    width: 100%;
}

.iletisim-navbar ul{
    flex: 1;
    text-align: right;
    padding-right: 3%;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.hakkimizda-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

#Baslik{
    color: #00c0ff;
    font-size: 30px;
    display: flex;
    margin-left: 4%;
    text-decoration: none;
}

h3{
    font-size: 30px;
    color: #00c0ff;
    margin-top: 6%;
}

.Signİn-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.Signİn-box{
    position: relative;
    top: 200px;
    background-color: white;
    display: block;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 700px;
    border-radius: 25px;
}

#Signİn-baslik{
    position: relative;
    top: 50px;
    justify-content: center;
}

#Signİn-baslik h2{
    color: #180db4;
    font-size: 25px;
}

.Signİn-box button{
    position: relative;
    top: 275px;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 0.5rem;
    background-color: #07064d;
}

#LoginButton{
    position: relative;
    top: 50px;
    width: 400px;
    display: none;
}

#SignUpButton2{
    position: relative;
    top: 50px;
    width: 400px;
}

#signupbuttonisim{
    display: none;
}
#signin{
    display: none;
}
.Signİn-box button p{
    font-size: 20px;
    color: white;
}

.Signİn-box input{
    position: relative;
    top: 70px;
    margin-bottom: 30px;
    width: 300px;
    height: 40px;
    font-size: 25px;
    padding-left: 10px;
    border-radius: 0.4rem;
    background-color: rgb(197, 197, 197);
}
#Signİnİsim{
    top: 70px;
}

.icerik{
    justify-content: center;
    display: block;
    width: 1800px;
    margin-top: -22%;
}

.hamburger-menu{
    position: sticky;
    top: 225px;
    margin-left: 175px;
    margin-bottom: 20px;
    display: inline-block;
    z-index: 0;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 600px;
    border-radius: 0.4rem;
    background-color: #76ec80
}
.hamburger-menu ul a li{
    display: block;
    padding: 12px 10px;
    border-radius: 0.4rem;
    margin-bottom: 10px;
}
.hamburger-menu ul a li{
    color: black;
    font-size: 23px;
}
.hamburger-menu ul li:hover{
    background-color: #78fd78
}

a{
    text-decoration: none;
}

.etkinlik{
    position: relative;
    left: 500px;
    z-index: 0;
    justify-content: center;
    width: 775px;
}

.makale-box{
   margin-top: 3%;  
   margin-bottom: 10px;
   padding: 5%;
    margin-right: 4%;
    display: inline-block;
    width: fit-content;
    border-radius: 50px;
    background-color: #4ff55d;
    text-align: center;
}

.sirketlerimiz{
    margin-left: 37%;
    margin-top: 38%;
    padding-bottom: 5%;
}

.sirket-box{
    margin-top: 3%;
    padding: 5%;
    text-align: center;
    display: block;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    background-color: #4ff55d;
}

.bagis{
    width: 500px;
    height: 500px;
}
.bagis-icerik{
    width: 100%;
}
.kutu{
    width: 100%;
}

img{
    border-radius: 30px;
}
.yazi1{
    width: 700px;
}
.yazi1>p{
    color: #2d7a33;
    margin-top: 1%;
}
.yazi1>h5{
    font-size: 20px;
    color: #358f3c;
}
.yazi2{
    width: 400px;
}
.yazi2>p{
    color: #16dd27;
    margin-top: 1%;
}
.yazi2>h5{
    font-size: 20px;
    color: #16dd27;
}
.yazi3{
    width: 400px;
}
.yazi3>p{
    color: #e2f1a9;
    margin-top: 1%;
}
.yazi3>h5{
    font-size: 20px;
    color: #e9f547;
}
#EkoEnerji{
    background-color: #ff9f08;
}

#YesilDamlalar{
    background-color: #147184;
}

#TemizNefes{
    background-color: #445b9c;
}

.yazi>h5{
    font-size: 20px;
    margin-top: 2%;
}

#EkoEnerji>.yazi>h5{
    color: #ffed3f;
}
#EkoEnerji>.yazi>p{
    color: #ffed3f;
}
#YesilDamlalar>.yazi>h5{
    color: #5df6c5;
}
#YesilDamlalar>.yazi>p{
    color: #5df6c5;
}
#TemizNefes>.yazi>h5{
    color: #cad4ff;
}
#TemizNefes>.yazi>p{
    color: #cad4ff;
}

.yazi{
    width: 700px;
}

li{
    color: #78f183;
    list-style: none;
    font-size: 25px;
}
.icerik-hakkimizda{
    justify-content: center;
    width: 1500px;
}
.aboutus-box1, .aboutus-box2{
    display: flex;
    justify-content: center;
}
.aboutus-box2{
    margin-top: 50px;
}
.hakkimizda-misyon, .hakkimizda-vizyon{
    background-color: #8a978d;
    width: 400px;
    height: 400px;
    padding: 3%;
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 25px;
    color:#16dd27 ;
    font-size: 20px;
}
.hakkimizda-misyon h3, .hakkimizda-vizyon h3{
    color: rgb(20, 70, 23);
}
.hakkimizda-misyon p, .hakkimizda-vizyon p{
    color: rgb(139, 230, 147);
}
.hakkimizda-text{
    width: 100%;
    height: 200px;
    justify-content: center;
    text-align: center;
}
.hakkimizda-text h3{
    color: rgb(20, 70, 23);
}
.hakkimizda-text p{
    color: rgb(20, 70, 23);
    font-size: 25px
}
.test{
    margin-top: 10%;
    text-align: center;
}
.test h3{
    font-size: 25px;
}
input{
    margin-top: 5%;
}
form{
    padding-bottom: 5%;
}
.test>h1{
    color: #180db4;
    font-size: 50px;
}
.test h3{
    color: #047aa1;
}
.test p{
    font-size: 22px;
}
#results>p{
    font-size:30px;
    color: rgb(210, 12, 200);
}
#results{
    padding-bottom: 5%;
}
form>p{
    display: inline-block;
    font-size: 20px;
    margin-right: 100px;
}
#bagis{
    margin-top: 3%;
    text-align: center;
    margin-left: 30%;
}
.kutu{
    margin-top: 10%;
    padding-bottom: 10%;
}
.kutu .yazi>p{
    color: #55eedf;
}
#bagis>a{
    display: block;
    width: fit-content;
    border-radius: 20%;
}
#bagis-navbar{
    z-index: 2;
    position: fixed;
}
.bagis{
    background-color: #2d7a33;
    width: fit-content;
    margin-top: 5%;
    border-radius: 20%;
    padding: 10%;
}
.reward-container{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 600px;
    flex-wrap: wrap;
    z-index: 1;
}
.rewardbox{
    background-color: #13c221;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.rewardbox-reward1, .rewardbox-reward2, .rewardbox-reward3, .rewardbox-reward4{
    display: inline-block;
    margin-top: 20px;
    margin-left: 75px;
}
.rewardbox-reward5{
    position: relative;
    display: inline-block;
    margin-top: 15px;
    left: 600px;
}
.rewardbox-reward5 h3{
    font-size: 22px;
    color: #335c56;
}
#reward-1, #reward-2, #reward-3, #reward-4{
    font-size: 25px;
    color: #026359;
}
.rewardbox-reward1 h3, .rewardbox-reward2 h3, .rewardbox-reward3 h3, .rewardbox-reward4 h3{
    font-size: 22px;
    color: #40746d;
}
#reward-navbar{
    z-index: 2;
    position: relative;
}
.rewardbox-text{
    justify-content: center;
}
.rewardbutton{
    position: relative;
    margin-left: 43%;
    margin-top: 100px;
}
#reward-button{
    width: 300px;
    height: 100px;
    background-color: #07064d;
    color: #00c0ff;
    font-size: 20px;
}
.navbar>a>img{
    margin-left: 50%;
}

.iletisim-navbar>a>img{
    margin-left: 50%;
}

#tel{
    position: relative;
    left: -225px;
    top: 25px;
    opacity: 0;
}

#adres{
    position: relative;
    left: -225px;
    top: 50px;
    opacity: 0;
}

#email1{
    position: relative;
    left: -225px;
    top: 75px;
    opacity: 0;
}

#name{
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    font-size: 25px;
    border-radius: 0.5rem;
}

#email{
    padding-left: 10px;
    width: 400px;
    height: 40px;
    font-size: 25px;
    border-radius: 0.5rem;
}

#mesaj{
    padding-left: 10px;
    width: 900px;
    height: 200px;
    font-size: 25px;
    border-radius: 0.5rem;
}

.box1{
    position: relative;
    left: 25px;
    top: 50px;
    width: 200px;
}

.box2{
    position: relative;
    left: 200px;
    top: 75px;
    float: left;
}

.haritalar{
    position: relative;
    top: 75px;
    padding-left: 75px;
    float: left;
}

.submit-button{
    position: relative;
    top: 300px;
    left: -50px;
}

#button{
    width: 250px;
    height: 100px;
    font-size: 25px;
    border-radius: 1rem;
    background-color: #5df6c5;
}

button:hover{
    background-color: #49be99;
}

.hr{
    width: 200px;
    border-color: black;
}

footer{
    background-color: #76777c;
    padding: 5%;
    position: relative;
    z-index: 1;
}
footer>.footer>h4{
    color: rgb(33, 33, 33);
    font-size: 50px;
}
footer>.footer>p, footer>.footer>a{
    color: rgb(33, 33, 33);
    text-decoration: none;
}
.footer{
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
}
#footer-ilk{
    display: block;
    margin-top: 0%;
}
#footer-son{
    display: block;
    margin-top: 5%;
}
.footer>.sosmed{
    margin-top: 1%;
    margin-left: 20px;
    display: inline-block;
}
.footer>.sosmed>a{
    margin-left: 1%;
    color: rgb(33, 33, 33);
    text-decoration: none;
}