.banner{
    width: 100%;
    height: 100%;
    padding-bottom: 3%; 
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #78f183;
}
.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe183;
}

.navbar ul{
    flex: 1;
    text-align: right;
    padding-right: 7.5%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
}
.navbar ul li a:hover{
    background-color: #00c0ff;
    color: #ffe183;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.container .information-card{
    width: 400px;
    height: 600px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#card1{
    position: relative;
    left: 50px;
    top: 50px;
}

#card2{
    position: relative;
    left: 600px;
    top: -580px;
}

#card3{
    position: relative;
    left: 1150px;
    top: -1210px;
}

.information-card:hover{
    width: 425px;
    height: 625px;
    position: relative;
    left: 40px;
    top: 50px;
}

.information-card .card-text{
    position: relative;
    left: 10px;
    font-size: 30px;
    font-family: Impact, fantasy;
}

.information-card .card-img{
    position: relative;
    left: 0px;
    top: 25px;
}


.navbar ul li a{
    text-decoration: none;
    color:#00e6ff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.menu-container{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

#Baslik{
    color: #00c0ff;
    font-size: 30px;
    display: flex;
    margin-left: 7.5%;
    text-decoration: none;
}
h3{
    font-size: 30px;
    color: #00c0ff;
    margin-top: 6%;
}
.icerik{
    margin-left: 10%;
}
.card{
    width: 400px;
    height: 500px;
    background-color: #2d6a02;
    border-radius: 50px;
    box-shadow: 10px 0px 3px rgb(42, 41, 41);
    margin-top: 3%;
    display: inline-block;
    margin-right: 8%;
}
.sirket{
    margin-top: 3%;
    padding: 5%;
    margin-right: 4%;
    display: inline-block;
    border-radius: 50px;
}
.sirket:hover{
    box-shadow: 20px 0px 10px #2d6a02;
}
#EkoEnerji{
    background-color: #ff9f08;
}
#YesilDamlalar{
    background-color: #147184;
}
#TemizNefes{
    background-color: #445b9c;
}
.yazi>h5{
    font-size: 20px;
    margin-top: 2%;
}

#EkoEnerji>.yazi>h5{
    color: #ffed3f;
}
#EkoEnerji>.yazi>p{
    color: #ffed3f;
}
#YesilDamlalar>.yazi>h5{
    color: #5df6c5;
}
#YesilDamlalar>.yazi>p{
    color: #5df6c5;
}
#TemizNefes>.yazi>h5{
    color: #cad4ff;
}
#TemizNefes>.yazi>p{
    color: #cad4ff;
}

.yazi{
    width: 300px;
}
p{
    color: #78f183;
}

li{
    color: #78f183;
    list-style: none;
    font-size: 25px;
}
.hakkimizda{
    background-color: #445b9c;
    padding: 5%;
    width: 500px;
    margin: 5%;
    margin-left: 0%;
    border-radius: 50px;
    
}
.hakkimizda>h3{
    margin-top: 0%;
    margin-right: 0px;
    width: 500px;
    display: inline-block;
    color: #78f183;
}
.hakkimizda>p{
    margin-top: 1%;
    width: 500px;
    display: inline-block;
}


#name{
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 1rem;
}

#surname{
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 1rem;
}

#email{
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 1rem;
}

.box1{
    position: relative;
    left: 5px;
    top: 50px;
}

.box2{
    position: relative;
    left: 150px;
    top: 20px;
}