.banner{
    width: 100%;
    height: 100%;
    padding-bottom: 3%; 
    background-size: cover;
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #78f183;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe183;
}

.navbar ul{
    flex: 1;
    text-align: right;
    padding-right: 7.5%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
}

.navbar ul li a:hover{
    background-color: #00c0ff;
    color: #ffe183;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.navbar ul li a{
    text-decoration: none;
    color: #30A2FF;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    padding: 30px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
#Baslik{
    color: #00c0ff;
    font-size: 30px;
    display: flex;
    margin-left: 4%;
    text-decoration: none;
}

h3{
    font-size: 100px;
    color: #00c0ff;
    margin-top: 6%;
    text-align: center;
}
a{
    text-decoration: none;
}
footer{
    background-color: #76777c;
    padding: 5%;
}
footer>.footer>h4{
    color: rgb(33, 33, 33);
    font-size: 50px;
}
footer>.footer>p, footer>.footer>a{
    color: rgb(33, 33, 33);
    text-decoration: none;
}
.footer{
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
}
#footer-ilk{
    display: block;
    margin-top: 0%;
}
#footer-son{
    display: block;
    margin-top: 5%;
}
.footer>.sosmed{
    margin-top: 1%;
}
.footer>.sosmed>a{
    margin-left: 1%;
    color: rgb(33, 33, 33);
    text-decoration: none;
}
.icerik{
    margin-top: 10%;
    margin-bottom: 10%;
}
h5{
    color: #78f183;
    font-size: 25px;
}
p{
    color: #78f183;
    font-size: 20px;
}
img{
    border-radius: 30px;
}
#logo{
    margin-left: 3%;
}


.makale{
    background-color: brown;
    display: block;
    width: 40%;
    text-align: center;
    padding: 5%;
    border-radius: 100px;
    margin-top: 3%;
    margin-left: 25%;
}

.sirket{
    background-color: #e34215;
    padding: 5%;
    border-radius: 50px;
    text-align: center;
    margin-top: 5%;
    width: 20%;
    display: inline-block;
    margin-right: 1%;
    margin-left: 2%;
}