.banner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #007cca;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009dff;
}

.navbar ul{
    flex: 1;
    text-align: right;
    padding-right: 7.5%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
}
.navbar ul li a:hover{
    background-color: #00c3ff;
    color: #86ffff;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.navbar ul li a{
    text-decoration: none;
    color:#86ffff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.menu-container{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

#Baslik{
    color: #86ffff;
    font-size: 30px;
    display: flex;
    margin-left: 7.5%;
    text-decoration: none;
}
.konu{
    margin-top: 3%;
    padding: 5%;
    margin-right: 4%;
    display: inline-block;
    border-radius: 50px;
    background-color: #009dff;
}
.konu:hover{
    box-shadow: 20px 0px 10px #004068;
}
.yazi{
    width: 300px;
}
.icerik{
    margin-left: 10%;
}
.yazi>h5{
    font-size: 20px;
    margin-top: 2%;
    color: #86ffff;
}
.yazi>p{
    margin-top: 2%;
    color: #86ffff;
}
h3{
    font-size: 30px;
    color: #86ffff;
    margin-top: 6%;
}